extends base

block title
    -var title = "Home";

block content
    h3 hmmmmmmm
    p= title
    a(href="/results") resultaten
    //- var vul = ["vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul",];
    //each i in vul
    //    p= i



//- ????????????????????????????????????????????????????????????
//- ?? DOE DE ACHTERGROND IN HTML, MAAK HTML 60 PIXELS GROTER ??
//- ?? EN MAAK BODY DAN 100% EN IN JQUERY 60 PIIXELS KLEINER  ??
//- ????????????????????????????????????????????????????????????
