extends base

block title
    -var title = "Home";

block content
    h3 hmmmmmmm
    p= title
    a(href="/results") resultaten
    - var vul = ["vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul",];
    each i in vul
        p= i



//- ???????????????????????????????????
//- ?? NOT YET WORKING, STARTED      ??
//- ?? ANOTHER PRACTICE PAGE TO      ??
//- ?? PERFECT BACKGROUND-SIZE COVER ??
//- ???????????????????????????????????
