extends base

block title
    -var title = "Home";

block content
    h3 hmmmmmmm
    p= title
    a(href="/results") resultaten
    - var vuls = ["vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul","vul"]
    each vul in vuls
        p= vul
