extends layout

block content
	header.header
		h1.header--title Gewicht
		form(action="/post", method="POST").header--input
			label(for="weight").header--input--label.weight
			input(type="text", name="weight", required, maxlength="5", placeholder="gewicht...")#weight.header--input--weight
			label(for="date").header--input--label.date
			input(type="date", name="date", required, min="2019-05-17")#date.header--input--date
			label(for="notes").header--input--label.notes
			input(type="text", name="notes", maxlength="255", placeholder="opmerkingen...")#notes.header--input--notes
			button(type="submit").header--input--submit Toevoegen
	section.body
		each key in data.rows
			.body--item
				h1.body--item--weight #{key.weight} kg
				h1.body--item--date #{key.date}
				p.body--item--notes #{key.notes}
