doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="theme-color", content="tomato")
		meta(charset="utf-8")
		title Gewicht
		link(rel="stylesheet", href="stylesheets/styles.css", type="text/css")
	body
		section.container
			block content